.contact{
  padding: 120px 10px;
  position: relative;
  z-index: 1;
  &__container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    &::after{
      content: "";
      position: absolute;
      width: 45%;
      height: 80%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: #012E6A;
      z-index: -1;
    }
  }
  &__info{
    padding-right: 40px;
    display: grid;
    gap: 20px;
  }
  &__title{
    color:#3B79A4;
    font-size: 32px;
    font-weight: 900px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }
  &__description{
    font-size: 18px;
    line-height: 1.5em;
    width: 80%;
    display: block;
    &::before{
      content: "";
      width: 200px;
      height: 4px;
      background-color: #012E6A;
      display: block;
    }
    &::before{
      margin-bottom: 20px;
    }
  }
  &__container-form{
    padding: 40px;
    z-index: 3;
    background: #fff;
    box-shadow: 4px 10px 16px rgba(#000000, 0.4);
    border-radius: 4px;
  }
}