.form{
  display: grid;
  gap: 20px;
}
.form-group{
  display: grid;
  gap: 4px;
  @media (min-width: 768px) {
    gap: 10px;
    grid-template-columns: 1fr 5fr;
  }
  &__text-field{
    padding: 8px 16px;
    border: 1px solid #B6B7BC;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5em;
    @media (min-width: 768px) {
      border-radius: 6px;
      padding: 12px 24px;
      font-size: 16px;
    }
    &::placeholder{
      color: B6B7BC;
    }
  }
  &__text-area{
    resize: none;
  }
}
.submit{
  display: block;
  margin-left: auto;
  background: #1E262C;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  transition: 0.3s background;
  width: 100%;
  padding: 10px 20px;
  @media (min-width: 768px) {
    width: 60%;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 20px;
  }
  &:hover{
    background: #012E6A;
  }
}