.testimonials{
  position: relative;
  padding: 60px 20px;
  @media (min-width: 768px) {
    padding: 120px 10px;
  }
  &::after, &::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    background: #012E6A;
    @media (min-width: 768px) {
      height: 4px;
      width: 200px;
    }  
  }
  &::before{
    top: 0;
  }
  &::after{
    bottom: 0;
  }
  &__container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px 24px;
    @media (min-width: 768px) {
      flex-direction: row;
    }  
  }
}
.testimonial{
  flex: 1;
  padding: 32px 20px;
  background: white;
  box-shadow: 4px 6px 12px rgba(#000000, 0.2);
  border-radius: 8px;
  @media (min-width: 768px) {
    box-shadow: 4px 10px 12px rgba(#000000, 0.2);
  }
  &__comment{
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 20px;
    @media (min-width: 1024px) {
    font-size: 16px;
    }
  }
  &__author{
    width: 95%;
    margin-left: auto;
    padding-left: 16px;
    border-left: 1px solid #cacaca;
    display: grid;
    font-size: 12px;
    line-height: 1.5em;
    @media (min-width: 1024px) {
      padding-left: 16px;
      font-size: 14px;
    }
  }
}